.carousel__wrap {
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.carousel__inner {
    height: auto;
    position: relative;
    width: 100%;
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.carousel__slide-item {
    flex: 0 0 auto;
    height: 20rem;
    margin-right: 1rem;
    position: relative;
    width: calc(25% - 2rem);
    transition: all 0.2s;
    overflow: hidden;
}

.carousel__slide-item-img-link {
    cursor: zoom-in;
    display: flex;
    height: 20rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-item-img-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.carousel-slide-item__body {
    bottom: 0;
    height: 25%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel__slide-item:hover .carousel-slide-item__body {
    height: 100%;
}

.carousel-slide-item__body h4 {
    font-weight: bolder;
    margin: 0;
}

.carousel-slide-item__body p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-bottom: 0;
}

.carousel__slide-item:hover .carousel-slide-item__body h4,
.carousel__slide-item:hover .carousel-slide-item__body p {
    opacity: 1;
}

@media (max-width: 767px) {
    .carousel__slide-item {
        width: calc(100% - 2rem);
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .carousel__wrap {
        align-items: center;
        flex-direction: row;
    }

    .carousel__slide-list {
        flex-direction: row;
        align-items: flex-start;
    }

    .carousel__slide-item {
        width: calc(20% - .5rem);
        margin-bottom: 0;
    }
}